:root{
    --background-color: #fdf7f6;
    --heading-color: #a08241;
    --bar-color: #b38185;
    --poppins-fonts: 'Poppins', sans-serif;
    --playfair-fonts:'Playfair Display', serif;
    --secondary-text: #797979;
    --rose: #e4b0b4;
}

body{
    background-color: var(--background-color) !important;
}

p, span{
    font-family: var(--poppins-fonts);
}

#logo{
    width: 99px;
    height: 92px;
    mix-blend-mode: multiply;
}

.navbar .nav-item a{
    padding: 0 29px !important;
}

.display-3{
    font-family: var(--playfair-fonts);
}

.secondary-text-color{
  color: var(--secondary-text);
}

.text-color{
  color: var(--bar-color);
}

.fs-18-px{
  font-size: 18px;
}

.fw-500{
  font-weight: 500;
}

/* Heading */

.title{
  font-size: clamp(29px, 3vw, 36px);
  font-family: var(--playfair-fonts);
  color: var(--heading-color);
  text-align: center;
  margin-bottom: clamp(40px, 5vw, 71px);
}

.title::after{
  content: "";
  height: 5px;
  width: 113px;
  background-color: var(--bar-color);
  display: flex;
  margin: 21px auto 0;
}

/* ------------- */

.logo-row img{
  width: 100%;
  max-width: 100px;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-Categories-rows a:hover{
  text-decoration: underline !important;
  font-weight: 500px;
  color: var(--bar-color) !important;
  text-underline-offset: 3px;
}

.status-div{
  width: 91px;
  height: 42px;
  background-color: var(--rose);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

.quick-views{
  border: solid 1.5px var(--bar-color);
}

.add-to-cart{
  border: solid 1.5px var(--heading-color);
  background: var(--heading-color);
}

.image-container:hover .buttons-div{
  bottom: 0;

}



@media (min-width: 1400px) and (max-width: 1900px){
   .container{
    min-width: 1198px;
  } 
}

/* .heading {
    font-size: var(--playfair-fonts);
    letter-spacing: 0.78px;
    color: var(--heading-color);
}

.line{   
    border: 1px;
    background-color: var(--bar-color);
    margin-top: 21px;
    width: 113px;
    height: 5px; 
  }

.logo img {
    max-width: 140px;
    max-height: 64px;
    object-fit: contain;
    mix-blend-mode: multiply;
}



.rectangle-img{
    width: 375px;
    height: 213px;
    margin: 40px 16px 22px 18px;
} */
  

/* .Rectangle_1 {
    width: 100%;
    height: 38px;
    padding: 7px;
    text-align: center;
    background-color: #e6d1d3;
  }

  .Rectangle_2 {
    width: 100%;
    height: 183px;
    padding: 7px;
    background-color: #fdf7f6;
    padding-bottom: 10pxpx;
  }
  

  .FREE-SHIPPING {
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
  }

  .Brands-Featured{
    font-family: PlayfairDisplay;
    font-size: 36px;
    letter-spacing: 0.78px;
    color: #a08241;
  }
  
  
  .nav-item{
    padding: 0 30px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-width: 100px;
    color: black;
  }
  
  .nav-item .nav-link{
    padding: 0 !important;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  } */
  
  