:root{
    --background-color: #fdf7f6;
    --heading-color: #a08241;
    --bar-color: #b38185;
    --poppins-fonts: 'Poppins', sans-serif;
    --playfair-fonts:'Playfair Display', serif;
}

p, span{
    font-family: var(--poppins-fonts);
}


body{
    background-color: var(--background-color) !important;
}

#logo{
    width: 99px;
  height: 92px;
  mix-blend-mode: multiply;
}

.navbar .nav-item a{
    padding: 0 29px !important;
}

.display-3{
    font-family: var(--playfair-fonts);
}

/* .Rectangle_1 {
    width: 100%;
    height: 38px;
    padding: 7px;
    text-align: center;
    background-color: #e6d1d3;
  }

  .Rectangle_2 {
    width: 100%;
    height: 183px;
    padding: 7px;
    background-color: #fdf7f6;
    padding-bottom: 10pxpx;
  }
  

  .FREE-SHIPPING {
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
  }

  .Brands-Featured{
    font-family: PlayfairDisplay;
    font-size: 36px;
    letter-spacing: 0.78px;
    color: #a08241;
  }
  
  
  .nav-item{
    padding: 0 30px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-width: 100px;
    color: black;
  }
  
  .nav-item .nav-link{
    padding: 0 !important;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  } */
  
  