:root {
  --background-color: #fdf7f6;
  --heading-color: #a08241;
  --bar-color: #b38185;
  --poppins-fonts: "Poppins", sans-serif;
  --playfair-fonts: "Playfair Display", serif;
  --secondary-text: #797979;
  --rose: #e4b0b4;
  --font-size-18px: 18px;
  --font-size-36px: clamp(28px, 3vw, 36px);
  --border-color: #402c2e;
  --blog-page-color: #797979;
  --home-color: #a9a9a9;
}

body {
  background-color: var(--background-color) !important;
}

p,
span {
  font-family: var(--poppins-fonts);
  font-weight: 300;
}

#logo {
  width: 99px;
  height: 92px;
  mix-blend-mode: multiply;
}

.navbar .nav-item a {
  padding: 0 29px !important;
}

.display-3 {
  font-family: var(--playfair-fonts);
}

.secondary-text-color {
  color: var(--secondary-text);
}

.text-color {
  color: var(--bar-color);
}

.home-color {
  color: var(--home-color);
}

.fs-18-px {
  font-size: 18px;
}

.fs-15-px {
  font-size: 15px;
}

.fs-17-px {
  font-size: 17px;
}

.fw-500 {
  font-weight: 500;
}

.fw-200 {
  font-weight: 200;
}

/* Heading */

.title {
  font-size: var(--font-size-36px);
  font-family: var(--playfair-fonts);
  color: var(--heading-color);
  text-align: center;
  margin-bottom: clamp(40px, 5vw, 71px);
}

.title::after {
  content: "";
  height: 5px;
  width: 113px;
  background-color: var(--bar-color);
  display: flex;
  margin: 21px auto 0;
}

/* ------------- */

.logo-row img {
  width: 100%;
  max-width: 100px;
  mix-blend-mode: multiply;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-Categories-rows a:hover {
  text-decoration: underline !important;
  font-weight: 500px;
  color: var(--bar-color) !important;
  text-underline-offset: 3px;
}

.status-div {
  width: 91px;
  height: 42px;
  background-color: var(--rose);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

.quick-views {
  border: solid 1.5px var(--bar-color);
}

.add-to-cart {
  border: solid 1.5px var(--heading-color);
  background: var(--heading-color);
}

.image-container:hover .buttons-div {
  bottom: 0;
}

hr.style1 {
  border-top: 1px solid #000000;
}

hr.style2 {
  border-top: 1.5px solid #ffffff;
}

.newsletter-textbox {
  width: 210px;
  color: white;
  background: transparent;
  outline: none;
  font-weight: 300;
  border: none;
}

::placeholder {
  color: white;
  font-weight: 300;
  font-size: 14px;
  outline: none;
}

.bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.title-common {
  font-family: var(--playfair-fonts);
  font-size: var(--font-size-36px);
}

a.btn {
  font-family: var(--poppins-fonts);
  line-height: 1;
  font-size: var(--font-size-18px);
  border-radius: 0;
  min-width: 140px;
  padding: 0.8rem 0.5rem;
  font-weight: 500;
}

a.btn.text-white {
  border: solid 1.5px var(--background-color);
}

/* .testimonialSwiper .swiper-slide-active .row{
  justify-content: start !important;
} */

/* .testimonialSwiper .swiper-slide-active{
  border-right: solid 2px var(--heading-color);
} */

.testimonialSwiper > * .swiper-button-next:after,
.swiper-button-prev:after {
  content: none;
}

.testimonialSwiper > * .swiper-button-next,
.swiper-button-prev {
  position: relative;
  width: auto;
  height: auto;
  margin: 0;
  color: var(--bar-color);
  font-weight: 500;
  font-size: var(--font-size-18px);
  left: 0;
  right: 0;
  outline: none;
}

/* .overlap-image{
  width: 119%;
} */

.image-super {
  width: 574px;
  height: 576px;
}

/* .footer-menu {
  color: white;
  list-style-type: none;
  text-decoration: none;
} */

/* Footer */
footer {
  background-color: var(--bar-color);
}

footer p,
footer a,
footer input,
footer select,
footer input::placeholder {
  color: #ffffff !important;
  font-weight: 200 !important;
  text-decoration: none;
  font-size: 14px !important;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

.footer-text {
  font-family: var(--poppins-fonts);
  font-size: 17px !important;
  font-weight: 500 !important;
  color: white;
}

footer .input-group-text,
footer input,
footer select {
  border: 0 !important;
  background-color: transparent !important;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
}

footer select {
  background-image: url(../images/iconly-light-arrow-down-2\ copy.svg) !important;
  max-width: 200px;
}

footer hr {
  color: var(--border-color);
  border-width: 0.3px;
  opacity: 0.5;
}

/* Elegance Super Curated banner */
.tea-banner {
  position: absolute;
  left: 47%;
}

.elegance-super-surated {
  font-family: var(--playfair-fonts);
  color: var(--heading-color);
  letter-spacing: 1px;
  text-align: left;
  /* font-size: 53px; */
}

.shop-now-2 {
  color: var(--bar-color);
  border: var(--bar-color) solid 2px;
  font-weight: 500;

  max-width: 160px;
}

.shop-now-2:hover {
  color: var(--bar-color);
  border: var(--bar-color) solid 2px;
}

/* Blog Page */

.blog-text {
  color: var(--heading-color);
  font-family: var(--playfair-fonts) !important;
  letter-spacing: 0.67px;
}

.blog-date {
  color: var(--blog-page-color);
  font-family: var(--poppins-fonts);
  font-size: 13px;
}

.blog-head {
  color: var(--bb);
  font-family: var(--poppins-fonts);
  font-size: 18px;
  font-weight: 300;
}

.blog-text-in {
  font-family: var(--poppins-fonts);
  font-size: 14px;
  font-weight: 300;
}

/* Blog Page */

@media (min-width: 1400px) and (max-width: 1900px) {
  .container {
    min-width: 1198px;
  }
}
